$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

*,
::after,
::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $VeryLightGray;
  min-height: 100vh;
  padding-top: 45px;
  @media (max-width: 768px) {
    padding: 30px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
    color: $VeryDarkBlue;
    span {
      display: block;
      font-weight: bold;
    }
  }
  p {
    max-width: calc(1440px / 2);
    margin-left: auto;
    margin-right: auto;
    color: $GrayishBlue;
  }
  .article-container {
    article:nth-child(1) {
      transform: translateY(50%);
      border-top-color: $Cyan;
    }
    article:nth-child(3) {
      transform: translateY(50%);
      border-top-color: $Blue;
    }
    article:nth-child(4) {
      border-top-color: $Orange;
    }
    @media (max-width: 768px) {
      article:nth-child(1) {
        transform: translateY(0%);
      }
      article:nth-child(3) {
        transform: translateY(0%);
      }
    }
  }
  article {
    width: 25%;
    height: 250px;
    display: inline-block;
    background: #fff;
    position: relative;
    text-align: left;
    padding: 15px;
    padding-right: 30px;
    color: $GrayishBlue;
    border-top: 5px solid $Red;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba($GrayishBlue, 0.3);
    margin: 15px;
    @media (max-width: 768px) {
      margin: 0;
      margin-bottom: 30px;
      width: 100%;
    }
    h2 {
      color: $VeryDarkBlue;
      margin-bottom: 5px;
    }
    img {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
  
}

footer {
  margin-top: 50px;
  background-color: $GrayishBlue;
  height: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
  p {
    color: #fff;
    font-size:1.5rem;
  }
}